{% extends 'email/base.html' %}
{% block content %}
    <h2>Password Reset Request</h2>
    <p>Hello {{ user.first_name|default:user.username }},</p>
    <p>We received a request to reset your password for your {{ site_name }} account.</p>
    <p>Click the link below to reset your password:</p>
    <a href="{{ reset_link }}" class="button">Reset Password</a>
    <p>This link will expire in 3 hours.</p>
    <p>If you didn't request this password reset, please ignore this email.</p>
    <p>Thank you for using {{ site_name }}.</p>
{% endblock %}